<nav class="navbar navbar-expand-lg navbar-light  navbarBackgroundColor fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <p routerLink="/home" style="cursor: pointer;">Home</p>
        </li>
        <li class="nav-item">
          <p routerLink="/aboutus" style="cursor: pointer;">Contact Us</p>
        </li>
        <li class="nav-item">
          <p routerLink="/addproduct" style="cursor: pointer;">add product</p>
        </li>

        <li class="nav-item">
          <p routerLink="/addcategory" style="cursor: pointer;">add Category</p>
        </li>
        <li class="nav-item">
          <p routerLink="/addsubcategory" style="cursor: pointer;">add SubCategory</p>
        </li>
        </ul>
        <ul class="navbar-nav list-unstyled float-right">
            <li class="nav-item">
                <p routerLink="/login" style="cursor: pointer;">Login</p>

            </li>
            <li class="nav-item ">
                <p routerLink="/signup" style="cursor: pointer;">Signup</p>

            </li>
             <li class="nav-item ">
                <p routerLink="/productlist" style="cursor: pointer;">Product List</p>

            </li>

        </ul>
    <!-- <div *ngIf="!AllowSearch">
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> -->
    </div>
  </nav>
 
