

.card{
    
    
  width: 500px;
  
   top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(190, 233, 238);
  background-image: url("../images/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-color: rgb(200, 176, 249);
  border-style: solid;
 

}
  .card-body{
    padding-top: 50px;
  }
  .btn {
    padding: 10px 20px; /* Adjust the values to control the padding and gap */
   
  }
  .form-group{
    margin-bottom: 30px;
    color: white;
  }
  
  /* Apply left margin to all buttons except the first one */
  .btn:not(:first-child) {
    margin-left: 10px; /* Adjust the value to control the gap */
  }