<div class="container-fluid">
  <form [formGroup]="addproductform" (ngSubmit)="ProductAdded()">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-title" style="margin: 10px">Product Image</h5>
          <div class="card-body text-center imgcardbody">
            <input
              type="file"
              (change)="onFileSelected($event)"
              class="mb-3"
              *ngIf="flag"
            />
            <img
              [src]="image"
              alt="Uploaded Image"
              formControlName="image"
              class="img-fluid rounded"
              
              *ngIf="image"
              style="width: 200px; height: 200px"
            />
            <div>
              <button
                class="btn btn-danger mt-3"
                (click)="clearImage()"
                *ngIf="!flag"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <hr />
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product Description</h5>
            <textarea
              class="form-control"
              formControlName="description"
              label="product Description"
              rows="6"
              id="description"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ADD Product Category</h5>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="category">Category</label>
                  <select name="categoryName" 
                  
                  class="form-control" (change)="changecatname($event)" >

                  >
                  <option  *ngFor=" let category  of productcatlist"  [value]="category.id">{{category.category}}</option>

                    <!-- Add more options as needed -->
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="subcategory">Sub Category</label>
                  <select
                  name="subcategoryName" class="form-control" 
                    (change)="onSelectsubCategory($event)"
                    formControlName="subcategory"
                    id="subcategory"
                  >
                    <option *ngFor="let subcategory of productsubcatlist" [value]="subcategory.id">
                      {{ subcategory.subcategory}}
                    </option>

                    <!-- Add more options as needed -->
                  </select>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="productname">Product Name</label>
                <input
                  type="productname"
                  formControlName="productname"
                  class="form-control"
                  id="productname"
                  placeholder="productname"
                />
              </div>
              <div class="col-sm-6">
                <label for="brandname"> Brand</label>
                <input
                  type="brandname"
                  class="form-control"
                  formControlName="brandname"
                  id="brandname"
                  placeholder="brandname"
                />
              </div>

              <div class="col-sm-6">
                <label for="price">Price</label>
                <input
                  type="price"
                  class="form-control"
                  id="price"
                  formControlName="price"
                  placeholder="price"
                />
              </div>
              <div class="col-sm-6">
                <label for="totalquantity"> Total Quantity</label>
                <input
                  type="totalquantity"
                  class="form-control"
                  id="totalquantity"
                  formControlName="totalquantity"
                  placeholder="totalquantity"
                />
              </div>

              <div class="col-sm-6">
                <label for="address">Address</label>
                <input
                  type="address"
                  class="form-control"
                  id="address"
                  formControlName="address"
                  placeholder="address"
                />
              </div>
              <div class="col-sm-6">
                <label for="size">Size</label>
                <input
                  type="size"
                  class="form-control"
                  id="size"
                  formControlName="size"
                  placeholder="size"
                />
              </div>
              <div class="row" style="padding-left: 45%; margin-top: 10px">
                <div class="col-md-8">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
