<div class="container searchcontianer">
   <div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="fieldDropdown">Select a Field:</label>
            <select id="fieldDropdown" class="form-control"  (change)="onFieldSelected($event)">
                <option value="hello">Select the Fields</option>
              <option value="productname">Product Name</option>
              <option value="price">Price</option>
              <option value="serialnummber">Serial NO.</option>
              <option value="brandname">Brand Name</option>
              <option value="address">Address</option>
              <option value="code">Code</option>
              <option value="size">Size</option>
              <option value="date">Date</option>
              
            </select>
          </div>
    </div>
    <div class="col-3" *ngIf="isdateSelected">
        <div class="form-group">
            <label for="fieldDropdown">{{field|fieldname}}</label>
            <input type={{field}} id={{field}} class="form-control" placeholder="Field Value" [(ngModel)]="fieldvalue">
        </div>
    </div>

    <div class="col-3">
        <div class="form-group">
            <label for="fieldDropdown">To Date</label>
            <input type={{field}} id={{todate}} class="form-control" placeholder="Field Value" [(ngModel)]="todate">
        </div>
    </div>

    

    <div class="col-3 mt-4" style="text-align: center;">
        <button type="submit" class="btn  btn-danger" style="width: 100%;" (click)="OnSubmit()">Search</button>
    </div>
   </div>
      
      

</div>





<div class="contianer maincontainer" *ngFor="let item of product ;let i=index">
    <div class="row main-row justify-content-center">
        
        <div class="col-9 main-column backgroundcolor" (click)="OnSelect(i)">
           <div class="row second-row">
            <div class="col-6 second-column">
             <h4 style="padding-top: 10px;">{{item.productname}}</h4>
             <h6 style=" color: grey;">{{item.subcategory}}</h6>
             <ul style="display: flex; list-style: none; ">
             <li style="margin-left: -40px;"><strong>Total Quantity : </strong>{{item.totalquantity}}</li>
             <li style="margin-left: 10px;"><strong>Sell Quantity : </strong>{{item.sellquantity}}</li>
             <li style="margin-left: 10px;"><strong>Price : </strong>{{item.price|currency}}</li>
             <li style="margin-left: 10px;"><strong>Size : </strong>{{item.size}}</li>
            </ul>
             <p><strong>Description:</strong>{{item.description}}</p>
            </div>
            <div class="col-6  text-right">
            <img src="{{item.image}}"
             style="width: 400px ; height: 155px; 
             border-top-left-radius:30px;
             border-top-right-radius: 20px;
             border-bottom-right-radius: 20px;
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ; 
             ">
            </div>
           </div>

        </div>
    </div>
    </div>
    <div class="card-body">
    <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU7KYAFSi5zmUIaeunOwBq9Za37pkSdYOug&usqp=CAU"  class="rounded-circle" alt="Cinque Terre" width="100" height="100">
        </div>
        <div class="modal-body">
    <div class="row">
        <div class="col-4">
     <p>Name: {{productinfo.productname}}</p>
      
<hr>
        </div>
        <div class="col-4">

            <p>BrandName:{{productinfo.brandname}}</p>
           
            <hr>
            
        </div>
        <div class="col-4">
            <p>price:{{productinfo.price}}</p>
            <hr>
            
        </div>

        <div class="col-4">
            <p>totalquantity: {{productinfo.totalquantity}}</p>
            <hr>
            
        </div>

        <div class="col-4">
            <p>sellquantity:{{productinfo.sellquantity}}</p>
            <hr>
            
        </div>
        <div class="col-4">
            <p>serialnumber:{{productinfo.serialnummber}}</p>
            <hr>
            
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-danger">DELETE</button>
           
            
        </div>

        <div class="col-4">
            <button type="button" class="btn btn-primary"   (click)="EditPopup()">EDIT</button>
            
            
        </div>
      
            <button type="button" class="btn btn-danger" 
                    (click)="closePopup()">
              Close
            </button>
          

    </div>



        </div>

        </div>
        </div>
        
        </div>
      </div>
    





<!-- <div class="custom-container">
    <div class="container table-container">
        <h2 >Product Table</h2>
        <table class="table table-striped table-bordered" style="font-size: 10px;" >
            <thead>
                <tr class="text-center">
                    
                    <th>Product id</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Total Quantity</th>
                    <th>Sell Quantity</th>
                    <th>Serial Number</th>
                    <th>Brand Name</th>
                    <th>Code</th>
                    <th>SubCategory</th>
                    <th>Pcid</th>
                    <th>image</th>
                    
                    <th>Size</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody >
                <tr  *ngFor="let item of product ; let i=index">
                    <td>{{ item.id }}</td>
                    <td>{{ item.productname }}</td>
                    <td>{{ item.price | currency }}</td>
                    <td>{{ item.totalquantity }}</td>
                    <td>{{ item.sellquantity }}</td>
                    <td>{{ item.brandname }}</td>
                    <td>{{item.serialnumber}}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.subcategory }}</td>
                    <td>{{ item.pcid }}</td>
                    <td><img src="{{item.image}}" alt="flower" class="rounded" style="width: 50px; height: 50px;"></td>
                    
                    <td>{{ item.size}}</td>
                    
                     <td class="buttonalign align-center">
                        <button class="btn btn-success" >Edit</button>
                        <button class="btn btn-danger " (click)="onDelete(i)">Delete</button>
                        <button class="btn btn-primary">More</button>
                    </td>

                </tr>
            </tbody>
        </table>
        
    </div>
</div> -->






  
  