<div class="container mb-5">
  <div class="row justify-content-center pr-5">
  <div class="col-3">
    <div class="card " style="width: 500px; text-align: center;">
      <div class="card-body " style="display: inline-flex; column-gap:10px;  padding-left: 80px;">
        <button class="btn btn primary"  style="margin-left: 10px;" (click)="navigatetoProfile()">Profile Details  </button>
        <button class="btn btn danger" (click)="navigatetoBussiness()">Business  Details  </button>
      </div>
    </div>
   </div>

  </div>

</div>
<div class=" fluid-container">
  <div class="row" >
    <div class="col-3 "style="text-align:center; margin:10px;">
      <div class="card">
        <h4 style="margin-top: 10px;">Welcome</h4>
        <div class="card-body " >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU7KYAFSi5zmUIaeunOwBq9Za37pkSdYOug&usqp=CAU" class="rounded-circle" alt="Profile Pic"  style="width:200px; height: 200px;" >
          
        </div>
        <button type="button" class="btn btn danger mb-5 ml-2 mr-2" >Update Image</button>
      </div>
      
    </div>
    
    <div class="col-8">
    <router-outlet style="float: left;"></router-outlet>   
    </div>
</div>
</div>





