/* Apply styles to the form */
/* Apply styles to the form */
.card{
    border-radius: 30px;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}


form {
    display: flex;
    flex-direction: column;
   
    gap: 10px; /* Adjust the spacing between form elements as needed */
    background-color: #fff; /* Set background color to white */
    padding: 20px; /* Add padding for better spacing */
  }
  
  /* Apply styles to the input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 150%; /* Make all input fields the same width */
    margin-bottom: 10px;
    background-color: #fff; /* Set background color to white */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */

  }
  
  /* Style the button */
  button {
    background-color: #007bff; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style the labels if needed */
  label {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(128, 90, 0);
  }
  
  /* Apply styles to form groups (containing First Name and Last Name) */
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the spacing between First Name and Last Name */
  }
  .card-body .row{
    gap: 140px;
  }

  
  